@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

:root {
    --primary: #ffb703;
    --secondary: #fb8500;
    --dark: #222;
    --white: #fff;
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--dark);
    color: var(--white);
    line-height: 1.6;
    overflow-x: hidden;
}

img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.menu-item img {
    transition: transform .4s ease-in-out;
}

.menu-item:hover img {
    transform: scale(1.05);
}


.header {
    text-align: center;
    padding: 3rem 1rem;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    color: var(--dark);
    
}

.header:hover {
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: var(--white);
}

.header h1 {
    font-family: var(--font-title);
    font-size: 3rem;
    margin-bottom: .5rem;
}

.header p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
/*
    .header .myBucket {
        background-color: var(--dark);
        padding: .5rem;
        border-radius: 5px;
        color: var(--white);
        font-size: 1rem;
        font-family: var(--font-title);
        color: var(--white);
        text-decoration: none;
    }
*/

.header .myBucket {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--dark);
    padding: 11px 19px;
    color: var(--white);
    border-radius: 30%;
    font-size: 1rem;
    font-family: var(--font-title);
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header #cart-count {
    background-color: var(--white);
    color: #e63946;
    font-weight: bold;
    border-radius: 50%;
    padding: 1px 10px;
    font-size: 1rem;
    min-width: 22px;
    text-align: center;
    animation: pop 0.3s ease;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #333;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.tab-btn {
    background: none;
    border: 0px solid var(--primary);
    border-radius: 5px;
    color: var(--primary);
    font-size: 1rem;
    font-family: var(--font-title);
    font-weight: 700;
    padding: .6rem 1.5rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.tab-btn:hover {
    background: var(--primary);
    color: var(--dark);
}

.tab-btn.active {
    background: var(--primary);
    color: var(--white);
}

main {
    min-height: 85.9vh;
}

.menu {
    display: none;
    opacity: 0;
    padding: 3rem 1rem;
    font-family: var(--font-title);
    text-align: center;
    transition: opacity 0.4s ease-in-out;
}

.menu.active {
    display: block;
    opacity: 1;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--primary);
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-item {
    background-color: #333;
    padding: 1.5rem;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.menu-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(162, 162, 155, 0.3);
    transition: 0.5s ease-in-out;
}

.menu-item h3 {
    margin: 1rem 0 0.5rem;
    color: var(--primary);
}

.menu-item p {
    font-size: .95rem;
    margin-bottom: 1rem;
}

.price {
    font-weight: bold;
    color: var(--secondary);
    font-size: 1.1rem;
    font-family: var(--font-title);
}

/* Bouton panier */
.add-to-cart-btn {
    display: block;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: var(--secondary);
    color: var(--white);
    border: none;
    border-radius: 7px;
    font-family: var(--font-title);
    font-size: 1rem;
    text-align: center;
    transition: transform .2s ease;
}

.add-to-cart-btn.pop {
    transform: scale(1.15);
}

.add-to-cart-btn:hover {
    background-color: #aa691f;
    cursor: pointer;
    transition: .3s;
}

.footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #111;
    color: #ebe4e4;
    font-size: 1rem;
}

/* Media query & keyframe */
@media screen and (max-width: 1024px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .section-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }

    .menu-item {
        padding: 1rem;
    }

    .header h1 {
        font-size: 2rem;
    }

    .section-title {
        font-size: 1.8rem;
    }

    .price {
        font-size: 1rem;
    }
}

@keyframes pop {
    0% {
        transform: scale(.5);
    } 
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
