@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    --bg: #43505d;
    --card: #fff;
    --color: #222;
    --primary: #3498db;
    --primary-hover: #247bb6;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.263);
    --font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 400px;
}

.login-box {
    background: var(--card);
    padding: 30px;
    border-radius: 12px;
    box-shadow: var(--shadow);
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

label {
    font-size: .9rem;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px;
    border: 2px solid #d5d5d5;
    border-radius: .7rem;
    font-size: 1rem;    
}

input:hover {
    border-color: var(--primary);
}

input:focus {
    border-color: var(--primary);
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #3498db;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 1rem;
}

button:hover {
    background: var(--primary-hover);
    cursor: pointer;
    transition: .3s ease;
}

#msg {
    margin-top: 10px;
    text-align: center;
    color: red;
    font-size: .9rem;
    font-weight: 700;
}


/* Mobile */
@media (max-width: 500px) {
    .login-box {
        padding: 20px;
    }

    h2 {
        font-size: 1.4rem;
    }
}