/* Import font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Variables globales */
:root {
    --bg: #f0f5fa;
    --card: #fff;
    --color: #222;
    --primary: #ff7a00;
    --muted: #777;
    --danger: #c92a36;
    --valid: #2b8a3e;
    --shadow: 0 4px 12px rgba(0,0,0,0.15);
    --font: "Poppins", sans-serif;

}

body {
    margin: 0;
    background: var(--bg);
    font-family: var(--font);
    color: var(--color);
}

/* Header */
.admin-header {
    background: white;
    padding: 20px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-header h1 {
    margin: 0;
    font-size: 1.4rem;
}

.stats {
    font-size: .9rem;
    text-align: right;
    color: var(--muted);
}

/* Canvas chart */
#ordersChart {
    max-width: 240px;
    width: 250px !important;
    height: 250px !important;
    margin: 40px auto;
    display: block;
}

/* Main */
.admin-main {
    max-width: 1100px;
    margin: 20px auto;
    padding: 0 15px;
}

/* Controls */
.controls {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.controls input,
.controls select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: var(--card);
    flex: 1;
    min-width: 160px;
}

/* Order list */
.orders-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Order card */
.order-card {
    background: var(--card);
    padding: 15px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.order-meta {
    font-size: .9rem;
}

.order-items {
    background: #f8f8f8;
    padding: 8px;
    border-radius: 6px;
    margin-top: 6px;
}

.order-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 150px;
}

.order-actions button {
    padding: 8px;
    border: 0;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.btn-view { background: #444; }
.btn-process { background: var(--valid); }
.btn-delete { background: var(--danger); }

/* hover */
.order-actions button:hover { opacity: .8; }

/* Modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal.hidden { display: none; }

.modal-inner {
    background: white;
    padding: 20px;
    width: 95%;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    animation: fadeIn .25s ease;
}

.close {
    border: none;
    background: transparent;
    font-size: 1.6rem;
    float: right;
    cursor: pointer;
}

/* Button */
button {
    font-family: var(--font);
    transition: .25s ease;
}

button:hover {
    cursor: pointer;
}

#refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 1.3rem; 
    font-weight: bold;
    width: 48px;
    height: 48px;
    padding: 0;
}

#refresh:hover {
    transform: rotate(90deg);
    background: #e36f00;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    gap: 7px;
}

.pagination button {
    padding: 8px 13px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 1rem;
}

.pagination button:hover {
    background: #eee;
}

.pagination button.active {
    background: var(--primary);
    color: #fff;
    border-color: rgb(148, 93, 199);
    font-weight: 700;
}

/* Dark mode activé */
:root{
    --bg-dark: #181a1b;
    --card-dark: #1f2123;
    --text-white: #e3e3e3;
    --muted-dark: #9c9c9c;
    --shadow-dark: 0 4px 12px rgba(255,255,255,0.05);
}

body.dark {
    background: var(--bg-dark);
    color: var(--text-dark);
}

body.dark .order-card, 
body.dark .modal-inner, 
body.dark .controls input, 
body.dark .controls select {
    background: var(--card-dark);
    color: var(--text-white);
    border-color: #333;
    box-shadow: var(--shadow-dark);
} 

body.dark .order-items {
    background: #292c2d;
}

/* Button */
body.dark button {
    color: #000;
}

body.dark .btn-view {
    color: #fff;
    background: #5555;
}

body.dark .btn-process {
    color: #fff;
    background: #2b8a3e;
}

body.dark .btn-delete {
    color: #fff;
    background: #b3242f;
}

/* Header */
body.dark .admin-header {
    background: var(--card-dark);
    color: var(--text-white);
}

/* Theme button */
.theme-btn {
    background: transparent;
    border: 1px solid #ccc;
    color: inherit;
    font-size: 1.1rem;
    padding: 8px 12px;
    border-radius: 6px;
}

.theme-btn:hover {
    background: #ccc;
    cursor: pointer;
    transition: 0.3s ease;
}

body.dark .modal {
    background: rgba(255,255,255,.1);
}

/* Responsive */
@media (max-width: 760px) {

    .admin-header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    #ordersChart {
        width: 200px !important;
        height: 200px !important;
        margin: 40px auto;
        display: block;    
    }

    .controls {
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .order-card {
        flex-direction: column;
    }

    .order-actions {
        flex-direction: column;
    }
}

@media (max-width: 240px) {
    #ordersChart {
        width: 180px !important;
        height: 180px !important;
        margin: 20px auto;
        display: block;    
    }

    .order-meta {
        font-size: 10px;
    }
}
